<body>
	{{#if user}}
		<div class="row1">
			<h1>Welcome {{user.username}}</h1>
		</div>
		<div class="link1">
			<a href="/jewelery/all">View past jewelery appraisals</a>
		</div>
		<div class="link2">
			<a href="/watches/all">View past watch appraisals</a>
		</div>
		<div class="link3">
			<a href="/jewelery/create">Create new jewelery appraisal</a>
		</div>
		<div class="link4">
			<a href="/watches/create">Create new watch appraisal</a>
		</div>
		<div class="row3">
			<a href="/log-out">Log Out</a>
		</div>
	{{else}}
		<div class="row1">
			<h1>Log In</h1>
		</div>
		<div class="login-row">
			<form action="/log-in" method="POST">
				<div class="inline">
					<label for="username">Username</label>
					<input name="username" placeholder="username" type="text" />
				</div>
				<div class="inline">
					<label for="password">Password</label>
					<input name="password" type="password" />
				</div>
				<div class="inline">
					<button>Log In</button>
				</div>
			</form>
		</div>
		<div class="row3">
			<a href="/sign-up">Sign up</a>
		</div>
	{{/if}}
</body>