<body>
	<div class="col123 row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="col23 row234 merchandise-items">
		<h2>{{jewelery}}</h2>
		<form method="POST" action=''>
			<label>Click submit if you sure you want to delete.</label>
			<input type="submit">
		</form>
	</div>
	<div class="col4 row1">
		<a href="/jewelery/{{jewelery.id}}">Back</a>
	</div>
</body>