<body class="expand">
	<div class="col123 row1">
		<h1>{{title}}</h1>
	</div>
	{{> back_link}}
	<div class="col234 row234">
		<ul>
			{{#each jewelery_list}}
				<li>
					<a href="/jewelery/{{this._id}}">{{this.customerInfo}}</a>
					<img src="{{this.photo_src}}" class="thumbnail">
				</li>
				<br>
			{{/each}}
		</ul>
	</div>
	<div class="col234 row5">
		<a href="/jewelery/create">Create a jewelery appraisal</a>
	</div>
</body>