<body>
	<div class="col123 row1">
		<h1>{{title}}</h1>
	</div>
	<div class="col123 row234">
		<ul>
			{{#each jewelery_list}}
				<li><a href="/jewelery/{{this.id}}">{{this.customerInfo}}</a></li>
				<br>
			{{/each}}
		</ul>
		<a href="/jewelery/create">Create a jewelery appraisal</a>
	</div>
	<div class="col4 row1">
		<a href="/">Back</a>
	</div>
</body>