<body>
	<div class="col123 row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="col45 row1">
		<a href="/jewelery/{{jewelery.id}}">Back</a>
	</div>
	<div class="col234 row2345 merchandise-items">
		<p>{{jewelery}}</p>
		<form method="POST" action=''>
			<label>Click submit if you sure you want to delete.</label>
			<input class="button" type="submit">
		</form>
	</div>
</body>