<body>
	<div class="row1">
		<h1>{{title}}</h1>
	</div>
	<form class="signupform" action="" method="POST">
		{{#if user}}
			<div class="link1">
				<label for="username">Username</label>
				<input name="username" placeholder="username" type="text" value="{{user.username}}" />
			</div>
			<div class="link2">
				<label for="password">Password</label>
				<input name="password" placeholder="password" type="password" />
			</div>
			<div class="link3">
				<label for="passwordConfirmation">Password confirmation</label>
				<input name="passwordConfirmation" placeholder="password" type="password" />
			</div>
			<div class="link4">
				<label for="codename">Codename</label>
				<input name="codename" placeholder="codename" type="text" />
			</div>
		{{else}}
			<div class="link1">
				<label for="username">Username</label>
				<input name="username" placeholder="username" type="text" />
			</div>
			<div class="link2">
				<label for="password">Password</label>
				<input name="password" placeholder="password" type="password" />
			</div>
			<div class="link3">
				<label for="passwordConfirmation">Password confirmation</label>
				<input name="passwordConfirmation" placeholder="password" type="password" />
			</div>
			<div class="link4">
				<label for="codename">Codename</label>
				<input name="codename" placeholder="codename" type="text" />
			</div>
		{{/if}}
		<div>
			<button>Sign Up</button>
		</div>
	</form>
	{{#if errors}}
		<ul>
			{{#each errors}}
				<li>{{this.msg}}</li>
			{{/each}}
		</ul>
	{{/if}}
</body>