<body>
	<div class="col123 row1">
		<h1>{{title}}</h1>
	</div>
	<div class="col234 row234">
		<a class="block" href="/watches/list">View past watch appraisals</a>
		<br>
		<a class="block" href="/watches/create">Create new watch appraisal</a>
	</div>
	{{> back_link}}
</body>