<body>
	<div class="row1">
		<h1 class="merchandise-title">{{title}}</h1>
	</div>
	<div class="merchandise merchandise-items">
		<h2>{{watch}}</h2>
		<form method="POST" action=''>
			<label>Click submit if you sure you want to delete.</label>
			<input type="submit">
		</form>
	</div>
</body>