html, body {
	height: 100%;
	font-size: 150%;
	margin: 0%;
	padding: 0%;
	background-color: gainsboro;
}

body {
	display: grid;
	align-items: center;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

body * {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	padding: 0.5%;
}

h1 {
	font-size: 180%;
	color: black;
	font-weight: bold;
}

div button {
	margin-top: 3%;
	margin-left: 1%;
	width: 30%;
	font-size: 50%;
}

form {
	display: table;
	white-space: nowrap;
}

form p {
	display: table-row;
	text-align: right;
}

form label {
	text-align: left;
}

form input {
	font-size: 80%;
	display: table-cell;
}

.inline {
	display: block;
}

.row1 {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 2;
}

.row2 {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 5;
}

.errorMessage {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 4;
}

.errorStack {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 4;
	grid-row-end: 6;
}

.row2 ul {
	padding-left: 5%;
}

.row3 {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 5;
	grid-row-end: 6;
}

.login-row {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 5;
	text-align: center;
}

.signupform {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 6;
	text-align: center;
}

.merchandise {
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 6;
}

.merchandise-title {
	font-size: 150%;
}

.merchandise-items {
	font-size: 60%;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 11;
}

.footer * {
	font-size: 80%;
}